body{
	background-color:  #FFFFFF;
	color:  #000000;
	font-family:  American Typewriter, "Times New Roman" ;
	margin-top: 25px;
	margin-right: 25px;
	margin-left: 25px;
}

h1{
	font-size: 48px;
	text-align: center;
	padding: 15px;
	font-family: "Sofia", American Typewriter;
}

h2{
	font-size: 36px;
	text-align: center;
	padding: 15px;

}
p{
	font-size: 24px;
	padding: 15px;
	font-family: American Typewriter;
}



img{
	width: 300px;
	height: 300px;
	border: 10px solid #000000;
	border-radius: 10px;
	/*display: block;
	margin-left:  auto;
	margin-right: auto; */
	padding: 25px;
	margin: 25px;

}

nav{
	border: 5px solid #000000;
	margin:  10px 0;
	padding: 10px;
	font-family: American Typewriter;
	font-size: 24px;
	line-height: 1.5;
	background-image: url("../images/wood.jpeg");
}

/*.container1{
	display: grid;
	position: relative;
	margin: auto;
	grid-template-areas: "slupringturtle slupringturtle slupringturtle"
						"owl owl owl"
						"ajishin ajishin ajishin";
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr; */


.slurpingturtle{
	display: grid;
	position: relative;
	margin: auto;
	column-gap: 100px;
	grid-template-areas: "slurpingturtle slurpingturtle slurpingturtle";
	grid-template-columns: 1fr 1fr 1fr;
} 


/*.owlp{
	grid-area: owlp;
}
*/

.owl{
	display: grid;
	position: relative;
	margin: auto;
	column-gap: 100px;
	grid-template-areas: "owl owl owl";
	grid-template-columns: 1fr 1fr 1fr;
}

/*.ajishinp{
	grid-area: ajishinp;
}
*/

.ajishin{
	display: grid;
	position: relative;
	margin: auto;
	column-gap: 100px;
	grid-template-areas: "ajishin ajishin ajishin";
	grid-template-columns: 1fr 1fr 1fr;

}


a:hover{
	background-color: whitesmoke;
}

a:link{
	color: black;
}

a:visited{
	color: darkblue;
}

img:hover{
	background-color: whitesmoke;
}

.active {
	font-family: Verdana;

}

/*form*/
fieldset{
	text-align:center;
}

#transition {
	position:relative;
	height:281px;
	width:450px;
	margin:0 auto;
  }
  
  #transition img {
	position:absolute;
	left:0;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
  }
  
  #transition img.top:hover {
	opacity:0;
  }


@media screen and (min-width: 700px){
	nav{
	  /*padding-top: 35px;
	  text-align: right; */
	}


}



/* copied from hw 3 */
@media screen and (prefers-reduced-motion: reduce){
	/*Turn off scroll*/
	html{
	  scroll-behavior: auto; /* Removes scroll animation */
	}
  
	/*Turn off transition*/
	a.skip {
	  -webkit-transition: initial; /* sets to default setting */
	  transition: initial; /* sets to default setting */
	}
  
	/*Turn off parallax*/
	.intro{
	  background-attachment: initial;
	}
  }
